body{ 
	font-family: Arial, sans-serif; 
	background: #f2f2f2;
	}
	
.container-form{ 
	display: flex;
	justify-content: center;
	align-items: center;
	width: 500px; 
	height: 300px;
	margin: 50px auto; 
	background: #fff; 
	border-radius: 8px; 
	box-shadow: 0 0 5px #aaa; 
	text-align: center;
	}

.container{ 
	width: 500px; 
	margin: 50px auto; 
	background: #fff; 
	border-radius: 8px; 
	box-shadow: 0 0 5px #aaa; 
	padding: 20px; 
	}

h2,h3{ 
	text-align: center; 
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 20px; 

	}
.h2-form{ 
	text-align: center; 
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 20px; 
	}

input,select{ 
	width: 100%; 
	padding: 8px; 
	margin: 5px 0; 
	border-radius: 8px;
	}
	
button{ 
	background: #e8dc2c; 
	color: #fff; 
	border: none; 
	cursor: pointer; 
	width: 100%; 
	padding: 8px; 
	margin: 5px 0; 
	border-radius: 8px;
	}
	
button:hover{ 
	background: #e8dc2c;
	}
	
table{
	width: 100%; 
	border-collapse: collapse; 
	margin-top: 15px; 
	}
	
th, td{
	border: 1px solid #ccc;
	padding: 8px;
	text-align: center;
	}
	
a{
	text-decoration: none;
	color: #e8dc2c;
	background: #e8dc2c; 
	color: #fff; 
	border: none; 
	cursor: pointer; 
	width: 100%; 
	padding: 8px; 
	margin: 5px 0; 
	border-radius: 8px;
	width: 200px;
	}
	
a.sair{
	color: rgb(0, 0, 0);
	}
	
.erro{
	color: red;
	text-align: center;
	}
